:root {
  --bg-color: #191919;
  --bg-color-left: #191919;
  --bg-color-right: linear-gradient(145deg, #f81f01, #ee076e);
}

#contact {
  background-color: var(--bg-color);
  height: 100vh;
  color: white;
  width: 100%;
  display: flex;
}

.contact-left {
  /* flex-basis: 60%; */
  width: 60%;
  padding: 60px;
  background: var(--bg-color-left);
}

.contact-right {
  /* flex-basis: 40%; */
  width: 40%;
  padding: 30px;
  background: var(--bg-color-right);
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.input-row .input-group {
  flex-basis: 45%;
}

.input-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  background-color: transparent;
  color: white;
}

.input-group input::placeholder,
#contact form textarea::placeholder {
  font-size: 17px;
}

#contact form textarea {
  padding: 0.5rem;
  background-color: transparent;
  color: white;
  border: 1px solid #ccc;
  outline: none;
  width: 100%;
  resize: vertical;
  min-height: 100px;
  max-height: 50%;
}

.contact-left h3 {
  margin-bottom: 10px;
  font-size: x-large;
}

.contact-right h3 {
  font-size: x-large;
}

.contact-right ul li:first-child {
  padding-right: 20px;
}

.contact-right ul li {
  padding-top: 20px;
  word-wrap: break-word;
}

.contact-right>div {
  height: 100%;
  background: var(--bg-color-left);
  padding: 30px;
  border-radius: 10px;
}

.center-screen {
  position: relative;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
}

@media screen and (max-width: 800px) {
  #contact {
    flex-direction: column;
  }

  .contact-left {
    width: 100%;
  }

  .contact-right {
    height: 100vh;
    width: 100%;
  }
}